	4_ObjectCategories.zip
	4_ObjectCategories_NOfeatures.zip
	A31_bag_of_visual_words_representation.pdf
	DL/EFIGI_HyperLeda.txt
	DL/MerchData/
	DL/all.zip
	DL/all/
	DL/bag.mat
	DL/caltech101/
	DL/check_galaxies.scala
	DL/conf_matricies_336_all.mat
	DL/conf_matricies_336_noS0.mat
	DL/distances_all_images/
	DL/distances_nobs/
	DL/efigi_png_gri-1.6.tgz
	DL/galaxies/
	DL/image_feat_bovw_dsift.txt
	DL/image_kmeans_sift.txt
	DL/image_names.csv
	DL/image_names.txt
	DL/image_names_bovw_dsift.txt
	DL/images_696/
	DL/move_galaxies.scala
	DL/trainingFeatures_all.mat
	articoli/
	comando conversione
	efigi_png_gri-1.6.tgz
	handsonbow.zip
	handsonbow/img/
	handsonbow/lib/
	handsonbow/matlab/BlobDetector.m
	handsonbow/matlab/LLC_coding_appr.m
	handsonbow/matlab/VC.mat
	handsonbow/matlab/binsubsample.m
	handsonbow/matlab/checknumericargs.m
	handsonbow/matlab/chi2.m
	handsonbow/matlab/combimage.m
	handsonbow/matlab/compute_accuracy.m
	handsonbow/matlab/confmatrix.m
	handsonbow/matlab/confmatrix_show.m
	handsonbow/matlab/create_dataset_split_structure.m
	handsonbow/matlab/crop2.m
	handsonbow/matlab/cropbbox.m
	handsonbow/matlab/desc_train_dsift.mat
	handsonbow/matlab/desc_train_dsift_no_S0.mat
	handsonbow/matlab/desc_train_msdsift.mat
	handsonbow/matlab/desc_train_sift.mat
	handsonbow/matlab/detect_features.m
	handsonbow/matlab/detect_features_dsift.m
	handsonbow/matlab/detect_features_gist.m
	handsonbow/matlab/eucliddist.m
	handsonbow/matlab/exercises.m
	handsonbow/matlab/extend2.m
	handsonbow/matlab/extractBoVW.m
	handsonbow/matlab/extract_gist_features.m
	handsonbow/matlab/extract_sift_features.m
	handsonbow/matlab/find_sift.m
	handsonbow/matlab/get_descriptors_files.m
	handsonbow/matlab/gist/
	handsonbow/matlab/imlabel.m
	handsonbow/matlab/int2str2.m
	handsonbow/matlab/int_to_string_zeros.m
	handsonbow/matlab/kernel_expchi2.m
	handsonbow/matlab/kernel_int.m
	handsonbow/matlab/kmeans_bo.m
	handsonbow/matlab/log2space.m
	handsonbow/matlab/normhomcoord.m
	handsonbow/matlab/rawsubsample.m
	handsonbow/matlab/readBinaryDescriptors.m
	handsonbow/matlab/remove_frame.m
	handsonbow/matlab/rescale_max_size.m
	handsonbow/matlab/resizeimage.m
	handsonbow/matlab/scalar_product.m
	handsonbow/matlab/showcirclefeaturesrad.m
	handsonbow/matlab/showimage.m
	handsonbow/matlab/sp_dense_sift.m
	handsonbow/matlab/text2.m
	handsonbow/matlab/trim_border.m
	handsonbow/matlab/visualize_results.m
	handsonbow/matlab/warpimagehomography.m
	remove_files.scala
	tutorial_bow_part1.pdf
	tutorial_bow_part2.pdf
	tutorial_bow_part3.pdf

